<title> <%= title %></title>
<style>
  .video-container {
  position: relative;
  text-align: center;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-embed {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
<section class="section">
    <div>
        <% if (message) { %>
            <div class="popup-form" id="myForm">
              <div class="popup-content">
                <div class="close-button" onclick="closeForm()">&times;</div>
                <h2> <%= message %></h2>
              </div>
            </div>
        <% } %>
    </div>
    <div class="container">
     <h1 class="title has-text-centered">YouTube Video Downloader</h1>
     <div class="columns">
      <div class="column">
       <form action="/convert-video" method="POST">
        <div class="field has-addons">
         <div class="control is-expanded">
          <input class="input" type="text" placeholder="Enter YouTube video link" name="url" required>
         </div>
         <div class="control">
            <button class="button is-primary" type="submit">
                <span class="icon">
                  <i class="fas fa-file-video"></i>
                </span>
                <span>Convert to Video</span>
            </button>
         </div>
        </div>
       </form>
       <br>
       <% if (video) { %>
        <div class="columns is-multiline is-centered">
          <div class="column is-12">
            <div class="card">
              <div class="card-image">
               <% if (video.thumbnail) { %>
                    <figure class="image is-16by9">
                      <img src="<%= video.thumbnail%>" alt="<%= video.title %>">
                    </figure>
                  <% } else { %>
                    <figure class="image is-16by9">
                      <img src="https://via.placeholder.com/640x360.png?text=No+thumbnail+available" alt="No thumbnail available">
            </figure>
          <% } %>
              </div>
              <div class="card-content">
                <h3 class="subtitle has-text-centered has-text-weight-bold mb-4"><%= video.title %></h3>
                <h4 class="subtitle has-text-centered mb-4"><%= video.channel %></h4>
                <div class="buttons is-centered">
                  <% 
                  let sortedFormats = video.formats.sort((a, b) => b.qualityLabel - a.qualityLabel);
                  let uniqueFormats = [];

                  sortedFormats.forEach(function(format) {
                    if (format.qualityLabel && !uniqueFormats.includes(format.qualityLabel) && format.container) {
                      uniqueFormats.push(format.qualityLabel);
                  %>
                  <a href="/download-video?format=<%= format.itag %>&url=<%= video.url %>" class="button is-primary is-small">
                    <span class="icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span><%= format.qualityLabel %>, <%= format.container %></span>
                  </a>
                  <% 
                    }
                  });
                  %>
                </div>
              </div>
              <div class="video-container">
                <iframe class="video-embed" 
                  src="https://www.youtube.com/embed/<%=videoId%>"
                  frameborder="0" 
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      </div>
     </div>
    </div>
</section>


  <script>
    var player = new Plyr('#player');
  </script>
